<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看客户信息</title>
    {% extends 'dashboard.html' %}

</head>
<body>
{% block head %}
    <h1 class="pagetitle">系统管理</h1>
    <span class="pagedesc">客户信息管理</span>
{% endblock %}
{% block neirong %}
    <table width="100%">
        <thead><tr>
            <td>用户名</td>
            <td>权限</td>
            <td>电话号码</td>
            <td>身份证号</td>
            <td>地址</td>
            <td>操作</td></tr>
        </thead>
    {% for user in users %}

        <tbody>
            <tr>
                <td>{{ user.username }}</td>
                <td>{% if user.status == 1 %}管理员{% else %}用户{% endif %}</td>
                <td>{{ user.phone_number }}</td>
                <td>{{ user.user_number }}</td>
                <td>{{ user.address }}</td>
                <td><button href="">修改</button> <button href="">删除</button> </td>

            </tr>
        </tbody>


    {% endfor %}
    </table>
{% endblock %}
</body>
</html>

