<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>发布票务信息</title>
    {% extends 'dashboard.html' %}

</head>
<body>
{% block head %}
    <h1 class="pagetitle">系统管理</h1>
    <span class="pagedesc">发布票务信息</span>
{% endblock %}
{% block neirong %}
    <form action="" method="post" style="font-size: 15px; text-align: center" onsubmit="return check()">
        <p>演出名称：<input type="text" name="infoname" id="infoname" style="width: 39%"></p>
        演出类型：<select name="tictype" id="tictype" style="width: 39%">
            <option value="1">演唱会</option>
            <option value="2">话剧歌剧</option>
            <option value="3">音乐会</option>
            <option value="4">展览休闲</option>
            <option value="5">舞蹈</option>
            <option value="6">其他</option>
        </select>
        <p>演出地点：<input type="text" name="address" id="address" style="width: 39%"></p>
        <p>演出日期时间：
            <input type="date" class="date" name="date" id="date" style="width: 18%">
            <input type="time" class="time" name="time" id="time" style="width: 18.5%">
        </p>
        <p>演出票价：<input type="number" step="0.01" name="price" id="price" style="width: 9%" placeholder="元/张"></p>
        <p>门票总数：<input type="number" name="total" id="total" style="width: 9%" placeholder="张"></p>
    <p><input id="submit" type="submit" value="提交" ></p>

    </form>



{% endblock %}
</body>
{% block js %}
    <script>
        $ = jQuery.noConflict();
        $(function () {


        });
        function check() {
            var name = $("#infoname").val();
            var address = $("#address").val();
            var date = $("#date").val();
            var time = $("#time").val();
            var price = $("#price").val();
            var total = $("#total").val();
            if(name == null || name == "" ){
                alert("演出名称不能为空！");
                return false;
            }else if(address == null || address == ""){
                alert("演出地址不能为空！");
                return false;
            }else if(time == null || time == ""){
                alert("演出时间不能为空！");
                return false;
            }else if(date == null || date == ""){
                alert("演出日期址不能为空！");
                return false;
            }else if(price == null || price == ""){
                alert("演出票价不能为空！");
                return false;
            }else if(total == null || total == ""){
                alert("门票总数不能为空！");
                return false;
            }else if(date){
                var now = new Date();
                var nowyear = now.getFullYear();
                var nowmonth = now.getMonth() + 1;

                year = date.split('-')[0];
                month = date.split('-')[1];
                if(year < nowyear){
                    alert("演出日期需大于本年！");
                    return false;
                }else if(year == nowyear){
                    if(month <= nowmonth){
                        alert("演出日期需大于本月！");
                        return false;
                    }

                }



            }
            return true;
        }
    </script>
{% endblock %}
</html>

